.container {
  width: 588px;
  height: auto;
  background-color: #F4F4F4;
}

.twoUpBlockContent {
  padding: 32px 28px;
  flex: 1;
  display: flex;
  flex-direction: column;
  /* word-wrap: break-word; */
  
}

.upperTitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  background: linear-gradient(47.5deg, #1E3860 0%, #158994 52.6%, #38D7A4 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  word-break: break-all
}

.mainTitle {
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 44px;
  letter-spacing: 0.2px;
  background: linear-gradient(47.5deg, #051A3F 0%, #1E3860 52.51%, #4D85B0 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  padding-bottom: 16px;
  padding-right: 9px;
  word-break: break-all

}

.subTitle {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #333D46;
  padding-bottom: 24px;
  word-break: break-all
}

.bulletContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 16px;
  margin-left: 2px;
}

.bulletCheck {
  margin-right: 10px;
}

.bulletContent {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  word-break: break-all
}

.applyNowContainer {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  margin-left: 2px;
  letter-spacing: 0.2px;
  color: #2F5B88;
  margin-right: 12.5px;
  margin-top: 16px;
}

.applyNowText {
  margin-right: 12.5px;
}

.CTAButtonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 32px;
  margin-bottom: 18px;
}

.CTAButton {
  background: #2F5B88;
  width: 222px;
  padding: 11px 60px;
  color: white;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.2px;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 8px;
  
}

.learnMoreContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px; 

}

.learnMoreButton {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  margin-left: 2px;
  letter-spacing: 0.2px;
  color: #2F5B88;
}

.learnMoreText {
  margin-right: 12.5px;
}


@media (max-width: 1200px) {
  .container {
    width: 343px;
  }
  .twoUpBlockContent {
    padding-bottom: 26px;
  }
  .mainTitle {
    font-size: 28px;
    line-height: 36px;
    padding-right: 0px;
  }
  .applyNowContainer {
    margin-bottom: 4px;
  }
  .CTAButtonContainer {
    margin-top: 18px;
  }
  .learnMoreButton {
    margin-bottom: 0;
  }
}
